@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --main-color: #b74b4b;
  --glow-color: #b74b4b;
  --bg-dark: #111;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: #b74b4b;
  font-weight: 800;
}

nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
}

nav a:hover,
nav a.active {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

section {
  min-height: 100vh;
  padding: 6rem 9% 5rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.home-content h1 {
  font-size: 6rem;
}

.home-content h3 {
  font-size: 4rem;
}

.home-content p {
  font-size: 1.6rem;
}

.home-img img {
  width: 28vw;
  border-radius: 50%;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-card {
  max-width: 300px;
  flex: 0 0 calc(33.333% - 20px);
}

.contact-form {
  display: flex;
  gap: 40px;
}

.left,
.right {
  flex: 1;
}


@media (max-width: 1024px) {

  html {
    font-size: 56%;
  }

  .home {
    gap: 4rem;
  }

  .home-img img {
    width: 40vw;
  }

  .project-card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 768px) {

  html {
    font-size: 54%;
  }

  header {
    padding: 1rem 5%;
  }

  nav {
    display: none;
  }

  section {
    padding: 6rem 5% 4rem;
  }

  /* HOME */
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-img img {
    width: 70vw;
  }

  .home-content h1 {
    font-size: 4.5rem;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  /* SKILLS */
  .skills-container {
    grid-template-columns: 1fr;
  }

  /* PROJECTS */
  .project-card {
    flex: 0 0 100%;
  }

  /* CONTACT */
  .contact-form {
    flex-direction: column;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {

  html {
    font-size: 50%;
  }

  .home-content h1 {
    font-size: 4rem;
  }

  .home-content h3 {
    font-size: 2.3rem;
  }

  .home-content p {
    font-size: 1.4rem;
  }
}
