@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --main-color: #b74b4b;
  }
:root {
    --glow-color: #b74b4b;
    --bg-dark: #111;
    --text-color: #fff;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
html {
    scroll-behavior: smooth;
  }

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 28vw;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px transparent;
    transition: all 0.4s ease-in-out;
  }
  
  .home-img img:hover {
    box-shadow:
      0 0 15px var(--main-color),
      0 0 30px var(--main-color),
      0 0 45px var(--main-color);
    transform: scale(1.05);
  }
  

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--main-color);
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.09)
}


.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Full Stack Developer";
    }
 
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

  body {
    background: var(--bg-dark);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 2rem;
  }
  
  .timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding: 2rem 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background: var(--glow-color);
    box-shadow: 0 0 15px var(--glow-color), 0 0 30px var(--glow-color);
  }
  
  .container {
    padding: 20px 30px;
    position: relative;
    width: 50%;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .container::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background: var(--glow-color);
    border-radius: 50%;
    top: 15px;
    z-index: 1;
    box-shadow: 0 0 15px var(--glow-color), 0 0 30px var(--glow-color);
  }
  
  .right::before {
    left: -10px;
  }
  
  .card {
    background: #000;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid var(--glow-color);
    box-shadow: 0 0 10px var(--glow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px var(--glow-color), 0 0 40px var(--glow-color);
  }
  
  .year {
    position: absolute;
    top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: var(--glow-color);
  }
  
  .left .year {
    right: -90px;
  }
  
  .right .year {
    left: -90px;
  }
  
  @media screen and (max-width: 768px) {
    .timeline::after {
      left: 20px;
    }
  
    .container {
      width: 100%;
      padding-left: 60px;
      padding-right: 25px;
    }
  
    .container::before {
      left: 20px;
    }
  
    .right {
      left: 0%;
    }
  
    .left .year,
    .right .year {
      left: 0;
      top: -20px;
    }
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f0f0f;
  color: white;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0 2rem;
  font-weight: bold;

}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 5%;
  margin-bottom: 3rem;
}

.skills-box {
  background: #b74b4b;
  padding: 2rem;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #000;
}

.skills-box:hover {
  transform: translateY(-10px);
  box-shadow:
    0 0 25px #b74b4b,
    0 0 50px #b74b4b,
    0 0 100px #b74b4b;
}

.skills-box h3 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.skills-box ul {
  font-size: 1.3rem;
  line-height: 2.3  ;
}

.card p {
    font-size: 1.3rem;
    line-height: 2.6;
  }
 .projects {
    max-width: 1200px;
    margin: 20px;
    margin-top: 80px;
    padding: 0 20px;
    text-align: center;
  }
  
  .project-header {
    margin-bottom: 40px;
  }
  
  .project-header .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #b74b4b;
    border-bottom: 3px solid  #b74b4b;
    display: inline-block;
    padding-bottom: 8px;
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .project-card {
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    flex: 0 0 calc(33.333% - 20px);
    box-shadow: 0 0 10px  #b74b4b;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
  }
  
  .project-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid  #b74b4b;
  }
  
  .project-card h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .project-card p {
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .project-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    background-color:  #b74b4b;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .project-btn:hover {
    background-color:  #b74b4b;
  }

  .contact-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  
  .contact-container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  
  .contact-container h1 span {
    color: #b74b4b;
  }
  
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
  }
  
  .left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 25px;
    font-size: 1.5rem;
    border-radius: 16px;
    background: transparent;
    border: 2px solid #b74b4b;
    color: white;
  }
  
  .contact-form textarea {
    height: 220px;
    resize: none;
  }
  
  .contact-form button {
    font-size: 1.5rem;
    padding: 22px 0;
    border-radius: 40px;
    margin-top: 20px;
    width: 100%;
    max-width: 320px;
    align-self: center;
    background: #b74b4b;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px #b74b4b;
  }
  
  .contact-form button:hover {
    background: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
    transform: scale(1.05);
}
/* ====== Animations ====== */
@keyframes autoRotateAnimation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.autoRotate {
  animation: autoRotateAnimation 10s linear infinite;
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.autoShow {
  animation: autoShowAnimation 1.5s ease-out both;
  animation-timeline: view(70% 5%);
}

@keyframes autoBlurAnimation {
  0% { filter: blur(40px); }
  45%, 55% { filter: blur(0px); }
  100% { filter: blur(40px); }
}
.autoBlur {
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
}

@media (max-width: 1024px) {
  section {
    padding: 5rem 6% 5rem;
  }

  .home {
    gap: 5rem;
  }

  .home-img img {
    width: 35vw;
  }
}

/* ---------- Tablets & Small Laptops ---------- */
@media (max-width: 995px) {

  section {
    padding: 5rem 6% 5rem;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card {
    flex: 0 0 calc(50% - 20px);
  }
}

/* ---------- Mobile Devices ---------- */
@media (max-width: 768px) {

  section {
    padding: 5rem 5% 5rem;
  }

  /* HOME */
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-img img {
    width: 75vw;
  }

  .home-content p {
    text-align: center;
  }

  /* SKILLS */
  .skills-container {
    grid-template-columns: 1fr;
  }

  /* PROJECTS */
  .project-card {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* CONTACT */
  .contact-form {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  .contact-form button {
    max-width: 100%;
  }
}

/* ---------- Small Phones ---------- */
@media (max-width: 480px) {

  .home-content h1 {
    font-size: 4.5rem;
  }

  .home-content h3 {
    font-size: 2.4rem;
  }

  .typing-text {
    font-size: 2.4rem;
  }

  .skills-box h3 {
    font-size: 2.4rem;
  }

  .contact-container h1 {
    font-size: 2.5rem;
  }
}
